{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
    <header class="masthead" style="background-image: url('')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Choose Course</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
    </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <h2>List of Courses:</h2>
        {% for course in all_courses %}
            <div class="clearfix">
              <a class="btn btn-success float-right" href="{{url_for('add_course', course_name=course.name)}}">{{course.name}}</a>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}